/* The h1 of the landing page with my name */
.title{
  color: #000;
  font-family: Inter;
  font-size: 90px;
  font-weight: 800;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .title{
    font-size: 60px;
  }
}

/* The font which is used in most of the contents descriptions */
.body-font{
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  /* Body font */
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

